header.header
    .header__top
        .header__social
            .social.social_header
                ul.social__list
                    li.social__item
                        a.social__link(href="https://vk.com/sashko_khr" target="_blank")
                            svg.social__svg_header
                                use(xlink:href="#icon-vk")
                    li.social__item
                        a.social__link(href="https://github.com/KhromovAlex" target="_blank")
                            svg.social__svg_header
                                use(xlink:href="#icon-github")
                    li.social__item
                        a.social__link(href="#")
                            svg.social__svg_header
                                use(xlink:href="#icon-in")
        .header__nav
            a.header__nav-link(href="#")
                svg.nav-link__svg
                    use(xlink:href="#icon-hamburger")
    .header__center
        include profile
        svg.header__bg-svg
            use(xlink:href="#icon-portfolio_header")
    .header__bottom
        .header__arrow
            a.arrow__link(href="#")
                svg.arrow__svg
                    use(xlink:href="#icon-arrow_down")