nav.main-nav
    .main-nav__list
        .main-nav__item
            a.main-nav__link(href="works.html") Мои работы
        .main-nav__item
            a.main-nav__link(href="about.html") Обо мне
        .main-nav__item
            a.main-nav__link(href="blog.html") Блог
        .main-nav__item
            a.main-nav__link(href="#") Авторизация