nav.main-nav
    .main-nav__list
        .main-nav__item
            a.main-nav__link(href="works.html")
                span.text-link Мои работы
        .main-nav__item
            a.main-nav__link(href="about.html")
                span.text-link Обо мне
        .main-nav__item
            a.main-nav__link(href="blog.html")
                span.text-link Блог
        .main-nav__item
            a.main-nav__link(href="#")
                span.text-link Авторизация
