extends ../layout

block vars
    - var title = "Мои работы";

block header
    include ../section/header

block content
    section.works
        .works__top
            .works__title
                h2.title#first-section мои работы
        .works__slider
            .slider__info
                .slider__title
                    h3.subtitle Сайт 1
                .slider__skills
                    .slider__skills-text HTML, CSS, JAVASCRIPT
                .slider__link-wrap
                    a.slider__button(href="#")
                        .slider__button-svg
                        span.text-link Посмотреть сайт
            .slider__right-top
                .slider-screen
                    img.slider-screen__img(src="img/works/slide.png")
            .slider__btns
                button.previous-slide.slider__link#previous
                    .slider__wrap-img
                        img.slider__img(src="img/works/slide-1.jpg")
                    svg.slider__svg
                        use(xlink:href="img/sprite.svg#icon-arrow_down")
                button.next-slide.slider__link#next
                    .slider__wrap-img
                        img.slider__img(src="img/works/slide-2.jpg")
                    svg.slider__svg
                        use(xlink:href="img/sprite.svg#icon-portf_arrow_up")
    section.feedback
        .feedback__top
            .feedback__top-title
                h2.title что обо мне говорят
        .feedback__reviews
            ul.reviews-list
                li.reviews__item
                    .review__text
                        .text-content.text-content_align Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .review-user
                        .review-user__avatar
                            img.review-user__img(src="img/works/user1.jpg")
                        .review-user__desc
                            .review-user__name
                                .review-user__text.review-user__text_bold Ковальчук Дмитрий
                            .review-user__position
                                .review-user__text основатель Loftschool
                li.reviews__item
                    .review__text
                        .text-content.text-content_align Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .review-user
                        .review-user__avatar
                            img.review-user__img(src="img/works/user2.jpg")
                        .review-user__desc
                            .review-user__name
                                .review-user__text.review-user__text_bold Сабанцев Владимир
                            .review-user__position
                                .review-user__text преподаватель
        .feedback____form-wrap
            .feedback-blur
            form.feedback-form
                .feedback-form__title
                    h3.subtitle связаться со мной
                .feedback-form__input
                    input(type="text" placeholder="Имя").feedback-form__name
                    input(type="text" placeholder="Еmail").feedback-form__email
                    textarea(placeholder="Ваше сообщение").feedback-form__text
                .feedback-form__buttons-wrap
                    input(type="submit" value="Отправить").feedback-form__button
                    input(type="reset" value="Очистить").feedback-form__button

        .feedback-up
            a.feedback-up__link(href="#")
                svg.feedback-up__svg
                    use(xlink:href="img/sprite.svg#icon-portf_arrow_up")
