extends ../layout

block vars
    - var title = "Мои работы";

block header
    include ../section/header

block content
    section.works
        .works__top
            .works__title
                h2.title#first-section мои работы
        .works__slider
            .slider__info
                ul.slider-info__list
                    li.slider-info__item.active
                        .slider__title
                            h3.subtitle Сайт 1
                        .slider__skills
                            .slider__skills-text HTML, CSS, JAVASCRIPT
                        .slider__link-wrap
                            a.slider__button(href="#")
                                .slider__button-svg
                                span.text-link Посмотреть сайт
                    li.slider-info__item
                        .slider__title
                            h3.subtitle Сайт 2
                        .slider__skills
                            .slider__skills-text PUG, SASS
                        .slider__link-wrap
                            a.slider__button(href="#")
                                .slider__button-svg
                                span.text-link Посмотреть сайт
                    li.slider-info__item
                        .slider__title
                            h3.subtitle Сайт 3
                        .slider__skills
                            .slider__skills-text JADE, SCSS, NODE JS
                        .slider__link-wrap
                            a.slider__button(href="#")
                                .slider__button-svg
                                span.text-link Посмотреть сайт
                    li.slider-info__item
                        .slider__title
                            h3.subtitle Сайт 4
                        .slider__skills
                            .slider__skills-text PHP, POST CSS
                        .slider__link-wrap
                            a.slider__button(href="#")
                                .slider__button-svg
                                span.text-link Посмотреть сайт
            .slider__right-top
                .slider-screen
                    ul.carousel-main
                        li.carousel-main__slide.active
                            img.slider-screen__img(src="img/works/slide1.png")
                        li.carousel-main__slide
                            img.slider-screen__img(src="img/works/slide2.png")
                        li.carousel-main__slide
                            img.slider-screen__img(src="img/works/slide3.png")
                        li.carousel-main__slide
                            img.slider-screen__img(src="img/works/slide4.png")
            .slider__btns
                button.previous-slide.slider__link#previous
                    ul.carousel-slides
                        li.carousel-slides__slide.carousel-slides__slide-previous.old-active
                            img.slider__img(src="img/works/slide1.png")
                        li.carousel-slides__slide.carousel-slides__slide-previous
                            img.slider__img(src="img/works/slide2.png")
                        li.carousel-slides__slide.carousel-slides__slide-previous.next-active
                            img.slider__img(src="img/works/slide3.png")
                        li.carousel-slides__slide.carousel-slides__slide-previous.active
                            img.slider__img(src="img/works/slide4.png")
                button.next-slide.slider__link#next
                    ul.carousel-slides
                        li.carousel-slides__slide.carousel-slides__slide-next.old-active
                            img.slider__img(src="img/works/slide1.png")
                        li.carousel-slides__slide.carousel-slides__slide-next.active
                            img.slider__img(src="img/works/slide2.png")
                        li.carousel-slides__slide.carousel-slides__slide-next.next-active
                            img.slider__img(src="img/works/slide3.png")
                        li.carousel-slides__slide.carousel-slides__slide-next
                            img.slider__img(src="img/works/slide4.png")
    section.feedback
        .feedback__background
            img.feedback__background-img(src="img/works/feedback.jpg")
        .feedback__top
            .feedback__top-title
                h2.title что обо мне говорят
        .feedback__reviews
            ul.reviews-list
                li.reviews__item
                    .review__text
                        .text-content.text-content_align Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .review-user
                        .review-user__avatar
                            img.review-user__img(src="img/works/user1.jpg")
                        .review-user__desc
                            .review-user__name
                                .review-user__text.review-user__text_bold Ковальчук Дмитрий
                            .review-user__position
                                .review-user__text основатель Loftschool
                li.reviews__item
                    .review__text
                        .text-content.text-content_align Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .review-user
                        .review-user__avatar
                            img.review-user__img(src="img/works/user2.jpg")
                        .review-user__desc
                            .review-user__name
                                .review-user__text.review-user__text_bold Сабанцев Владимир
                            .review-user__position
                                .review-user__text преподаватель
        .feedback____blur-wrap
            .feedback-blur
            .feedback-form-wrap
                form.feedback-form
                    .feedback-form__title
                        h3.subtitle связаться со мной                    
                    .feedback-form__input
                        input(name="username" type="text" placeholder="Имя").feedback-form__name
                        input(name="email" type="text" placeholder="Еmail").feedback-form__email
                        textarea(name="text" placeholder="Ваше сообщение").feedback-form__text
                        .status-mail
                    .feedback-form__buttons-wrap
                        input(type="submit" value="Отправить").feedback-form__button
                        input(type="reset" value="Очистить").feedback-form__button

        .feedback-up
            a.feedback-up__link(href="#")
                svg.feedback-up__svg
                    use(xlink:href="img/sprite.svg#icon-portf_arrow_up")
