//Vars
$font-size-body:16px;

$green:#00bfa5;
$dark-green:#009688;
$gray:#455a64;
$black:#373e42;

//Layout
@import "normalize";
@import "_misc/fonts";
@import "_misc/mixin";
@import "_misc/options";
@import "_misc/common-class";

//styles
@import "section/welcome";
@import "section/header";
@import "section/footer";
@import "section/about";
@import "section/main-nav";
@import "section/social";
@import "section/blog";
@import "section/works";
