html {
  @include desktop {
    font-size: 16px;
  }
  @include laptop {
    font-size: 15px;
  }
  @include tablets {
    font-size: 14px;
  }
  @include phones {
    font-size: 13px;
  }
}

body{
  *{
    @include roboto();
  }
}

a{
  color: #6da3bd;
  text-decoration: solid;
  @include roboto(medium);
  &:hover{
    text-decoration: none;
  }
}

.text-link{
  color: #fff;
  @include roboto(medium);
  transition: color .5s;
}

.text-content{
  color: $gray;
  p{
    margin: 20px 0;
  }
}

.title{
  margin:70px 40px;
  font-size: 63px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'bernier_regularregular';
  line-height: 63px;
  color: $black;
  &:before,&:after{
    content: "";
    display: block;
    width: 22px;
    height: 5px;
    background-color: #d0d1d2;
    position: absolute;
    top:30px;

  }
  &:before{
    left:-40px;
  }
  &:after{
    right:-40px;
  }

  @include tablets{
    font-size: 49px;
    margin:50px 40px;
  }

  @include phones{
    font-size: 35px;
  }
}

.subtitle{
  margin:40px;
  font-size: 35px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'bernier_regularregular';
  margin-top:0;
  color: $gray;
  &:before,&:after{
    content: "";
    display: block;
    width: 22px;
    height: 5px;
    background-color: #d0d1d2;
    position: absolute;
    top:20px;
  }
  &:before{
    left: -40px;
  }
  &:after{
    right: -40px;
  }

  @include tablets{
    font-size: 30px;
    margin:20px 40px;
  }

  @include phones{
    font-size: 21px;
  }
}

