.about{
  min-height:100vh;
  display: flex;
  flex-direction:row;
  width: 100%;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 100%;
    left: 0;
    height: 150px;
    background-image: url('../img/bg-svg/triangle-about.svg');
    transition: height .5s;
    transform: translateY(2px);
  }

    @include laptop{
      flex-direction: column;
      &:before {
        background-image: url('../img/bg-svg/triangle-works.svg');
      }
    }

    @include tablets{
      &:before {
        height: 100px;
      }
    }
}

.about__left{
  background-color: #faf8f0;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  @include desktop{
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    justify-content: flex-start;
  }
  @include laptop{
    width: 100%;
    padding: 10px;
  }
}

.about__left-title{
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;

  &:before{
    content: "";
    display: block;
    position: absolute;
    bottom: 48%;
    width: 100%;
    height: 100%;
    background: url('../img/bg-svg/about_header.svg') no-repeat center center;
    background-size: contain;
  }

  @include desktop{
    width: 100%;
    &:before{
      bottom: 33%;
    }
  }

  @include laptop{
    margin-top: 50px;
  }
}

.title_about_margin{
  margin-top: 0;
}

.about__left-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  @include desktop{
    width: 100%;
    align-items: center;
  }
  @include laptop{
    width: 60%;
  }
  @include phones{
    width: 100%;
  }
}

.user__photo{
  margin-bottom: 40px;
  display: flex;
}

.avatar_size{
  width: 444px;
  height: 390px;
  @include laptop{
    width: 100%;
    height: 416px;
  }
}

.avatar_border-radius_none{
  border-radius: 0;
}

.user-desc__title{
  display: flex;
  justify-content: center;
}

.about__right{
  background-color: #eeebdf;
  width: 50%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  @include desktop{
    padding:20px 10px 20px 40px;
  }
  @include laptop{
    width: 100%;
    align-items: center;
    padding:10px 10px 50px 10px;
  }
  @include phones{
    padding-bottom: 10px;
  }
}

.about__right-title{
  align-self: center;
  width: 310px;
  text-align: center;

  @include laptop{
    .subtitle{
      &:before,&:after{
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.about__right-text{
  @include laptop{
    text-align: center;
    width: 60%;
  }
  @include phones{
    width: 100%;
  }
}

.about__right-skills{
  margin-top: 60px;
  display: flex;
}

.skills-list{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skills__item{
  display: flex;
  flex-direction: column;

  @include laptop{
    align-items: center;
  }
}

.skills__item + .skills__item{
  margin-top: 37px;
}

.slills-title{
  margin-bottom: 20px;

  @include roboto(medium);
  font-size: 28px;
}

.skills__row-list{
  display: flex;
  flex-wrap: wrap;
  margin:-30px 0 0 -40px;

  @include laptop{
    justify-content: center;
  }
}

.skills-row__item{
  margin:30px 0 0 40px;
}

.skill__title{
  font-size: 14px;
  @include roboto(medium);
  color: $green;
  position: absolute;
  width: 60px;
  text-align: center;

  @include desktop{
    font-size: 12px;
  }
}

.skill__circle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
// section map
.map{
  height: 100vh;
  margin-bottom: -150px;
  position: relative;

  @include phones{
    height: auto;
    margin-bottom: 0;
  }
}

.map__google{
  height: 100vh;
  display: flex;
  justify-content: center;

  @include phones{
    flex-direction: column;
    height: auto;
  }
}

.iframe-map{
  @include phones {
    height: 400px;
  }
}

.map__contacts{
  position: absolute;
  align-self: center;
  display: flex;
  padding: 35px 0;
  flex-direction: column;
  background-color: rgba(#fcfcfc,.85);
  margin-top: -130px;
  border-radius: 5px;

  @include phones{
    position: static;
    margin-top: 0;
    width: 100%;
    border-radius: 0;
  }
}

.contacts{
  padding:0 35px;

  @include phones{
    padding:0 10px;
  }
}

.map__title{
  align-self: center;
}

.contacts__item{
  display: flex;
}

.contacts__item + .contacts__item{
  margin-top: 25px;
}

.contacts__text{
  color: $gray;
  @include roboto(medium);
}

.contacts__svg{
  margin-right: 10px;
  fill:$green;
  width: 25px;
  height: 25px;
}



///////////////////////////////////

.circles {
  fill: none;
  stroke-width: 20;
  width: 120px;
  height: 120px;

  @include desktop{
    width: 110px;
    height: 110px;
  }
}
.circle__first {
  stroke: #dfdcd5;
}
.circle__second {
  stroke: #1bb696;
  stroke-dasharray: .001 282.6;
  transition: all 1s;
}

.circles:hover .circle-0 {
  stroke-dasharray: .001 282.6;
}
.circles:hover .circle-5 {
  stroke-dasharray: 14.13 282.6;
}
.circles:hover .circle-10 {
  stroke-dasharray: 28.26 282.6;
}
.circles:hover .circle-15 {
  stroke-dasharray: 42.39 282.6;
}
.circles:hover .circle-20 {
  stroke-dasharray: 56.52 282.6;
}
.circles:hover .circle-25 {
  stroke-dasharray: 70.65 282.6;
}
.circles:hover .circle-30 {
  stroke-dasharray: 84.78 282.6;
}
.circles:hover .circle-35 {
  stroke-dasharray: 98.91 282.6;
}
.circles:hover .circle-40 {
  stroke-dasharray: 113.04 282.6;
}
.circles:hover .circle-45 {
  stroke-dasharray: 127.17 282.6;
}
.circles:hover .circle-50 {
  stroke-dasharray: 141.3 282.6;
}
.circles:hover .circle-55 {
  stroke-dasharray: 155.43 282.6;
}
.circles:hover .circle-60 {
  stroke-dasharray: 169.56 282.6;
}
.circles:hover .circle-65 {
  stroke-dasharray: 183.69 282.6;
}
.circles:hover .circle-70 {
  stroke-dasharray: 197.82 282.6;
}
.circles:hover .circle-75 {
  stroke-dasharray: 211.95 282.6;
}
.circles:hover .circle-80 {
  stroke-dasharray: 226.08 282.6;
}
.circles:hover .circle-85 {
  stroke-dasharray: 240.21 282.6;
}
.circles:hover .circle-90 {
  stroke-dasharray: 254.34 282.6;
}
.circles:hover .circle-95 {
  stroke-dasharray: 268.47 282.6;
}
.circles:hover .circle-100 {
  stroke-dasharray: 282.6 282.6;
}