.about{
  min-height:100vh;
  display: flex;
  flex-direction:row;
  width: 100%;
}

.about__left{
  background-color: #efeee9;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
}

.about__left-title{
  width: 50%;
  display: flex;
  justify-content: center;
}

.title_about_margin{
  margin-top: 0;
}

.about__left-content{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.user-desc__avatar{
  margin-bottom: 40px;
  display: flex;
}

.avatar_about{
  width: 450px;
  height: 400px;
  border-radius: 0;
}

.user-desc__title{
  display: flex;
  justify-content: center;
}

.about__right{
  background-color: #eeebdf;
  width: 50%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.about__right-title{
  align-self: center;
  width: 310px;
  text-align: center;
}

.about__right-skills{
  padding: 40px;
}

.skills__item + .skills__item{
  margin-top: 40px;
}

.slills-title{
  margin-bottom: 20px;
  @include roboto(medium);
  font-size: 28px;
}

.skills__row-list{
  display: flex;
}

.skills-row__item + .skills-row__item{
  margin-left: 40px;
}

.skill__title{
  font-size: 14px;
  @include roboto(medium);
  color: $green;
  position: absolute;
  width: 60px;
  text-align: center;
}

.skill__circle{
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
// section map
.map{
  height: 100vh;
  margin-bottom: -150px;
  position: relative;
}

.map__google{
  height: 100vh;
  display: flex;
  justify-content: center;
}

.map__contacts{
  position: absolute;
  align-self: center;
  display: flex;
  padding: 35px 0;
  flex-direction: column;
  background-color: rgba(#fcfcfc,.85);
  margin-top: -130px;
  border-radius: 5px;
}

.contacts{
  padding:0 35px;
}

.map__title{
  align-self: center;
}

.contacts__item{
  display: flex;
}

.contacts__item + .contacts__item{
  margin-top: 25px;
}

.contacts__text{
  color: $gray;
  @include roboto(medium);
}

.contacts__svg{
  margin-right: 10px;
  fill:$green;
  width: 25px;
  height: 25px;
}