.triangle-about{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  margin-bottom:-5px;
}

.triangle-about__svg-left{
  fill:#efeee9;
}

.triangle-about__svg-right{
  fill:#eeebdf;
}

.about{
  min-height:100vh;
  display: flex;
  flex-direction:row;
  width: 100%;
  position: relative;
}

.about__left{
  background-color: #efeee9;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  padding-top: 0;
}

.about__left-title{
  width: 50%;
  display: flex;
  justify-content: center;
}

.title_about_margin{
  margin-top: 0;
}

.about__left-content{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.user__photo{
  margin-bottom: 40px;
  display: flex;
}

.avatar_size{
  width: 450px;
  height: 400px;
}

.avatar_border-radius_none{
  border-radius: 0;
}

.user-desc__title{
  display: flex;
  justify-content: center;
}

.about__right{
  background-color: #eeebdf;
  width: 50%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.about__right-title{
  align-self: center;
  width: 310px;
  text-align: center;
}

.about__right-skills{
  padding: 40px;
}

.skills__item + .skills__item{
  margin-top: 40px;
}

.slills-title{
  margin-bottom: 20px;
  @include roboto(medium);
  font-size: 28px;
}

.skills__row-list{
  display: flex;
}

.skills-row__item + .skills-row__item{
  margin-left: 40px;
}

.skill__title{
  font-size: 14px;
  @include roboto(medium);
  color: $green;
  position: absolute;
  width: 60px;
  text-align: center;
}

.skill__circle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
// section map
.map{
  height: 100vh;
  margin-bottom: -150px;
  position: relative;
}

.map__google{
  height: 100vh;
  display: flex;
  justify-content: center;
}

.map__contacts{
  position: absolute;
  align-self: center;
  display: flex;
  padding: 35px 0;
  flex-direction: column;
  background-color: rgba(#fcfcfc,.85);
  margin-top: -130px;
  border-radius: 5px;
}

.contacts{
  padding:0 35px;
}

.map__title{
  align-self: center;
}

.contacts__item{
  display: flex;
}

.contacts__item + .contacts__item{
  margin-top: 25px;
}

.contacts__text{
  color: $gray;
  @include roboto(medium);
}

.contacts__svg{
  margin-right: 10px;
  fill:$green;
  width: 25px;
  height: 25px;
}



///////////////////////////////////

.circles {
  fill: none;
  stroke-width: 15;
  width: 120px;
  height: 120px;
}
.circle__first {
  stroke: #dfdcd5;
}
.circle__second {
  stroke: #1bb696;
  stroke-dasharray: .0010 282.6;
  transition: all 1s;
}

.circles:hover .circle-0 {
  stroke-dasharray: .001 282.6;
}
.circles:hover .circle-5 {
  stroke-dasharray: 14.13 282.6;
}
.circles:hover .circle-10 {
  stroke-dasharray: 28.26 282.6;
}
.circles:hover .circle-15 {
  stroke-dasharray: 42.39 282.6;
}
.circles:hover .circle-20 {
  stroke-dasharray: 56.52 282.6;
}
.circles:hover .circle-25 {
  stroke-dasharray: 70.65 282.6;
}
.circles:hover .circle-30 {
  stroke-dasharray: 84.78 282.6;
}
.circles:hover .circle-35 {
  stroke-dasharray: 98.91 282.6;
}
.circles:hover .circle-40 {
  stroke-dasharray: 113.04 282.6;
}
.circles:hover .circle-45 {
  stroke-dasharray: 127.17 282.6;
}
.circles:hover .circle-50 {
  stroke-dasharray: 141.3 282.6;
}
.circles:hover .circle-55 {
  stroke-dasharray: 155.43 282.6;
}
.circles:hover .circle-60 {
  stroke-dasharray: 169.56 282.6;
}
.circles:hover .circle-65 {
  stroke-dasharray: 183.69 282.6;
}
.circles:hover .circle-70 {
  stroke-dasharray: 197.82 282.6;
}
.circles:hover .circle-75 {
  stroke-dasharray: 211.95 282.6;
}
.circles:hover .circle-80 {
  stroke-dasharray: 226.08 282.6;
}
.circles:hover .circle-85 {
  stroke-dasharray: 240.21 282.6;
}
.circles:hover .circle-90 {
  stroke-dasharray: 254.34 282.6;
}
.circles:hover .circle-95 {
  stroke-dasharray: 268.47 282.6;
}
.circles:hover .circle-100 {
  stroke-dasharray: 282.6 282.6;
}