.header__center_blog{
  height: 100%;
}

.header__title-wrap{
  position: relative;
}

.title_header{
  margin: 0;
  color: #fff;
  z-index: 10;
}

.header__bg-svg_blog{
  top: -40px;
  left: -80px;
  margin-left: 0;
  width: 300px;
  height: 200px;
}

.blog{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding:0 300px 70px 125px;
  position: relative;
  background-color: #fff;
}

.triangle-blog{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  margin-bottom: -5px;
}

.triangle-blog__svg{
  width: 100%;
  fill:#fff;
}

.blog-wrap{

}

.nav-blog{
  width: 22%;
}

.nav-blog__link{
  display: block;
  text-align: right;
  padding: 15px 25px;
  color:$gray;
  transition: color .5s;
  border-right: 3px transparent solid;
  &:hover{
    color: $green;
  }
}

.nav-blog__link_active{
  border-right-color: $green;
  color: $green;
}

.blog-content{
  width: 72%;
}

.article-blog{
  position: relative;
  padding-bottom: 70px;
}

.article-blog + .article-blog{
  padding-top: 70px;

  &:after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(#f1f1f2,.7);
    width: 680px;
    height: 5px;

  }
}

.article-blog__title{
  font-family: 'bernier_regularregular';
  font-size: 35px;
  color:$gray;
  margin-bottom: 30px;
}

.article-blog__time{
  color:rgba($green,.7);
  margin-bottom: 30px;
  margin-left: 20px;
}

.article-blog__text{
  margin-left: 20px;
}


