.header__center_blog{
  height: 100%;
  position: relative;

  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 300px;
    height: 200px;
    background-image: url('../img/bg-svg/blog_header.svg');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;


  }

}

.title_header{
  margin: 0;
  color: #fff;
  z-index: 10;
}

.blog{
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  padding:70px 110px;
  position: relative;
  background-color: #fff;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 100%;
    left: 0;
    height: 150px;
    background-image: url('../img/bg-svg/triangle-blog.svg');
    transform: translateY(2px);
    transition: height .5s;
  }

  @include desktop {
    padding:70px 45px;
  }

  @include tablets {
    &:before{
      height: 100px;
    }
  }

}




.nav-blog{
  width: 22%;
  margin-right: 90px;
  @include laptop{
    width: 284px;
    min-width: 284px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -284px;
    padding: 15px 20px;
    transition: left 0.3s;
    background: $green;
    z-index: 2000;
  }
}

.nav-blog__link{
  display: block;
  text-align: right;
  padding: 15px 25px;
  padding-left: 0;
  color:$gray;
  transition: color .5s;
  border-right: 3px transparent solid;
  &:hover{
    color: $green;
  }
}

.nav-blog__link_active{
  border-right-color: $green;
  color: $green;
}

.blog-content{
  width: 55%;

  @include desktop{
    width: 78%;
  }
}

.article-blog{
  position: relative;
  padding-bottom: 70px;
}

.article-blog + .article-blog{
  padding-top: 70px;

  &:after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(#f1f1f2,.7);
    width: 680px;
    height: 5px;

  }

  @include desktop{
    &:after{
      width: 100%;
    }
  }
}

.article-blog__title{
  font-family: 'bernier_regularregular';
  font-size: 35px;
  color:$gray;
  margin-bottom: 30px;
}

.article-blog__time{
  color:rgba($green,.7);
  margin-bottom: 30px;
  margin-left: 20px;
  @include desktop{
    margin-left: 0;
  }
}

.article-blog__text{
  margin-left: 20px;
  @include desktop{
    margin-left: 0;
  }
}


