.footer{
  background-color: rgba($black,0.851);
  height: 150px;
  position: relative;
}

.footer__nav{
  margin-left: 30px;
}

.footer__social{
  margin-left:auto;
  margin-right: 30px;
}

.social_footer{
  .social__item{
    margin-left: 10px;
  }
  .social__svg {
    width: 36px !important;
    height: 36px !important;
    fill: #fff !important;
  }
}

.footer__row{
  height: 50%;
  display: flex;
  flex-direction:row;
  align-items:center;
  border-top:1px solid rgba(#fff,.1);
  &:first-child{
    border:none;
  }
}

.footer__about{
  margin-left: 30px;
}

.footer__about-text{
  color: rgba(#fff,0.5);
}

.footer__copyright{
  margin-left:auto;
  margin-right: 30px;
}

.copyright{
  color: rgba(#fff,0.5);
}