.header{
  background-image: url("../img/header/bg_header.jpg");
  background-size:cover;
  height:100vh;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  padding:30px;
  padding-bottom: 90px;
  min-height: 510px;
  transition: padding .5s;

  @include phones{
    padding:10px;
    padding-bottom: 50px;
  }
}

.header__top{
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  width: 100%;
}

.header__bottom{
  z-index: 100;
}

.header__nav{
  margin-left: auto;
}

.social__svg_fill{
  fill: #fff !important;
}

.header__nav-svg{
  display: inline-block;
  width: 41px;
  height: 36px;
  fill: #fff;
  opacity: .5;
  transition: opacity .5s;
}

.header__nav-link{
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9999;
  &:hover{
    .header__nav-svg{
      opacity: 1;
    }
  }
}

.header__center{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-svg/portfolio_header.svg');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
  }

}

.header__avatar{
  margin-bottom: 30px;
}

.header__user-name{
  @include roboto(medium);
  font-size: 35px;
  color: #fff;
}

.header__desc{
  @include roboto(light);
  color: rgba(255, 255, 255, 0.8);
}

.arrow__link{
  display: block;
  &:hover{
    .arrow__svg{
      opacity: 1;
    }
  }
}

.arrow__svg{
  display: inline-block;
  width: 30px;
  height: 20px;
  fill: #fff;
  opacity: .7;
  transition: opacity 0.5s;
}

.header__nav-link_active{
  position: fixed;
  top: 30px;
  right: 30px;

  @include phones{
    top: 10px;
    right: 10px;
  }
}
