.header{
  background-image: url("../img/header/bg_header.jpg");
  background-size:cover;
  height:100vh;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}

.header__top{
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  width: 100%;
}

.header__social{
  margin:30px 0 0 30px;
}

.header__nav{
  margin-left: auto;
  margin-right:30px;
  margin-top: 30px;
}

.social__svg_fill{
  fill: #fff !important;
}

.header__nav-svg{
  display: inline-block;
  width: 41px;
  height: 36px;
  fill: #fff;
  opacity: .5;
  transition: opacity .5s;
  &:hover{
    opacity: 1;
  }
}

.header__nav-link{
  display: block;

}

.header__center{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.header__avatar{
  z-index: 2;
  margin-bottom: 30px;
}

.header__user-name{
  @include roboto(medium);
  font-size: 35px;
  color: #fff;
  z-index: 2;
}

.header__desc{
  @include roboto(light);
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.header__bg{
  z-index: 1;
}

.header__bg-svg{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -588px;
  width: 1200px;
  height: 300px;
  opacity: 0.06;
  fill: #fff;
}

.header__bottom{
  margin-bottom: 90px;
}

.arrow__link{
  display: block;
}

.arrow__svg{
  display: inline-block;
  width: 30px;
  height: 20px;
  fill: #fff;
  opacity: .7;
  transition: opacity 0.5s;
  &:hover{
    opacity: 1;
  }
}