.social{
  display: flex;
  flex-direction:row;
  justify-content:center;
}

.social__list{
  width: 138px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.social__link{
  display: block;
}

.social__svg_footer{
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: #fff;
  opacity: .5;
  transition: opacity .5s;
  &:hover{
    opacity: 1;
  }
}

.social__svg_header{
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: #fff;
  opacity: .5;
  transition: opacity .5s;
  &:hover{
    opacity: 1;
  }
}