.welcome-page{
  background-image: url('../img/welcome/bg-welcome.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  height:100vh;
  padding: 24px 100px 40px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
}

.header-welcome{
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
}

.link-login{
  display: block;
  padding:15px 27px;
  border:1px solid #fff;
  border-radius: 5px;
  color: #fff;
  @include roboto(medium);
  transition: 0.5s all;
  &:hover{
    background-color: #fff;
    color: $dark-green;
  }
}

.welcome-content{
  display: flex;
  flex-direction:column;
  justify-content:flex-end;
  background-color: rgba(252, 252, 252,0.851);
  border-radius: 5px;
}

.welcome-content__avatar{
  margin: 40px 0 20px 0;
  display: flex;
  justify-content: center;
}

.avatar{
  width: 141px;
  height: 141px;
  border-radius:50%;
  overflow: hidden;
}

.avatar__img{
  display: block;
  max-width: 100%;
  height: auto;
}

.welcome-content__user-name{
  @include roboto(medium);
  font-size: 28px;
  color: rgb(69, 90, 100);
  display: flex;
  justify-content: center;
}

.welcome-content__desc{
  @include roboto();
  color: rgba(69, 90, 100, 0.8);
  display: flex;
  justify-content: center;
}

.welcome-content__social{
  margin: 40px 0;
}

.welcome-nav__list{
  display: flex;
}

.welcome-nav__item {
  flex:auto;
  &:first-child {
    .welcome-nav__link {
      border-radius: 0 0 0 5px;
    }
  }
  &:last-child{
    .welcome-nav__link {
      border-right: 0;
      border-radius: 0 0 5px 0;
    }
  }
}

.welcome-nav__link{
  display: block;
  font-size: 16px;
  color: #fff;
  background-color: $green;
  padding: 12px 32px;
  transition:background-color 0.5s;
  border-right:2px solid rgba(222, 227, 231,0.5 );
  @include roboto(medium);
  &:hover{
    background-color: $dark-green;
  }
}

.copyright-welcome{
    color: #818181;
}
