.welcome-page{
  opacity: 0;
  visibility: hidden;
  height:100vh;
  min-height:600px;
  padding: 24px 100px 40px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
  @include desktop{
    padding:24px 24px 40px;
  }

  @include tablets{
    background-image: url('../img/welcome/bg-welcome.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
  }

  @include phones{
    padding:10px;
  }
}

.header-welcome{
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
  @include phones{
    justify-content:center;
  }
}

.link-login{
  display: block;
  padding:15px 27px;
  border:1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s all;
  &:hover{
    background-color: #fff;
    .text-link{
      color: $dark-green;
    }

  }
}

.welcome-content{
  display: flex;
  flex-direction:column;
  justify-content:flex-end;
  background-color: rgba(252, 252, 252,0.851);
  border-radius: 5px;
  padding-top: 40px;
}

.welcome-content__avatar{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.avatar{
  width: 141px;
  height: 141px;
  border-radius:50%;
  overflow: hidden;
}

.avatar__img{
  display: block;
  max-width: 100%;
  height: auto;
}

.welcome-content__user-name{
  @include roboto(medium);
  font-size: 28px;
  color: rgb(69, 90, 100);
  display: flex;
  justify-content: center;
}

.welcome-content__desc{
  @include roboto();
  color: rgba(69, 90, 100, 0.8);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.welcome-content__social{
  margin-bottom: 40px;
}

.welcome-nav__list{
  display: flex;
}

.welcome-nav__item{
  &:first-child {
    .welcome-nav__link {
      border-radius: 0 0 0 5px;
    }
  }
  &:last-child{
    .welcome-nav__link {
      border-radius: 0 0 5px 0;
    }
  }
}

.welcome-nav__item{
  flex:auto;
}

.welcome-nav__item + .welcome-nav__item{
  border-left:2px solid rgba(#dee3e7,.5 );
}

.welcome-nav__link{
  display: block;
  background-color: $green;
  padding: 12px 32px;
  transition:background-color 0.5s;
  @include phones{
    padding:12px 20px;
    text-align: center;
  }
  &:hover{
    background-color: $dark-green;
  }
}

.copyright-welcome{
  color: rgba(#fff,.5);
  @include roboto(light);
  @include phones{
    padding: 0 40px;
    text-align: center;
  }
}

// Back block

.welcome-auth__title{
  display: flex;
  justify-content: center;
  @include tablets{
    .subtitle{
      font-size: 30px;
      margin:0 40px 40px 40px;
      &:before,&:after{
        top: 50%;
        margin-top: -2.5px;
      }

    }
  }
}

.welcome-nav__link_auth{
  border:none;
  width: 100%;
  cursor: pointer;
}

.welcome-auth__login-wrap, .welcome-auth__pass-wrap{
  display: flex;
}

.welcome-auth__input{
  color: #373e42;
}

.welcome-auth__login-wrap, .welcome-auth__pass-wrap{
  position: relative;
  margin:0 20px 20px 20px;
}

.welcome-auth__input-bg{
  height: 45px;
  width: 45px;
  background-color: #f0efe9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
}

.welcome-auth__input{
  padding: 0 20px;
  border: 0;
  border-radius:0 5px 5px 0;
  height: 45px;
  width: 100%;
}

.welcome-auth__svg-input{
  width: 15px;
  height: 15px;
  fill:#c4cbcd;

}

.welcome-auth__checkbox-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.welcome-auth__checkbox-label{
  cursor: pointer;
  position: relative;
}

.welcome-auth__checkbox{
  z-index: -9999;
  opacity: 0;
}

.welcome-auth__checkbox + .welcome-auth__checkbox-label .welcome-auth__checkbox-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width:20px;
  height:20px;
  background-color: #fff;
  border-radius: 2px;
  cursor:pointer;
  border:1px solid #cfcfcf;
  position: absolute;
  top: 0;
  left: -30px;
}

.welcome-auth__checkbox-svg{
  fill:#fff;
  width: 12px;
  height: 12px;
}

.welcome-auth__checkbox:checked + .welcome-auth__checkbox-label .welcome-auth__checkbox-block{
  background-color: $green;
  border-color: $green;
}

.welcome-auth__radio-text{
  display: flex;
  justify-content: center;
}

.welcome-auth__radio-wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.welcome-auth__radio-item{
  display: flex;
  align-items: center;
}

.welcome-auth__radio-item + .welcome-auth__radio-item{
  margin-left: 40px;
}

.welcome-auth__radio{
  z-index: -9999;
  opacity: 0;
}

.welcome-auth__radio-label{
  position: relative;
  cursor: pointer;
}

.welcome-auth__radio + .welcome-auth__radio-label .welcome-auth__radio-block{
  display: flex;
  justify-content: center;
  align-items: center;
  width:20px;
  height:20px;
  background-color: #fff;
  border-radius: 50%;
  cursor:pointer;
  border:1px solid #cfcfcf;
  position: absolute;
  top: 0;
  left: -30px;
  z-index: 9999;

}

.welcome-auth__radio:checked + .welcome-auth__radio-label .welcome-auth__radio-block{
  &:after{
    content: "";
    display: block;
    background-color: $green;
    width: 8px;
    height: 8px;
    border-radius: 50%;

  }
}

// Flip

.go-to-auth{
  transform: rotateY(180deg);
}

.hidelink{
  opacity:0;
  z-index: -9999;
}

.flip-container {
  perspective: 1000;
  @include phones{
    //width: 100%;
  }
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
}

.front,.back {
  backface-visibility: hidden;
  transition: opacity .7s;
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}

.front_opacity, .back_opacity{
  opacity: 0;
}


//parallax

#parallax{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 600px;
  background: url("../img/parallax/layer.jpg");
  z-index: -10;

  @include tablets{
    display: none;
  }
}

.parallax__layer{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  will-change: transform;
}

.parallax__img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
}
