.works{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 100%;
    left: 0;
    height:150px;
    background-image: url('../img/bg-svg/triangle-works.svg');
    transition: height .5s;
    transform: translateY(2px);

    @include desktop{
      height: 100px;
    }
    @include tablets{
      height: 70px;
    }
    @include phones{
      height: 30px;
    }
  }

}

.works__top{
  background-color: #faf8f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 110%;
    height: 100%;
    background: url('../img/bg-svg/works_header.svg') no-repeat center center;
    background-size: contain;
  }

}

.works__slider{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;

  @include laptop{
    height: auto;
  }
}

.slider__info{
  background-color: #f0efe9;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include laptop{
    height: auto;
    width: 100%;
    padding:20px 10px 60px;
  }
}

.slider__skills{
  margin-bottom: 40px;
  padding: 20px 0;
  border-top:1px solid rgba($dark-green,.3);
  border-bottom:1px solid rgba($dark-green,.3);
}

.slider__button{
  display: block;
  padding:15px 20px;
  background-color:$green;
  border-radius: 5px;
  transition: all .5s;
  &:hover{
    background-color: $dark-green;
  }
}

.slider__skills-text{
  color: #20b5a1;
  @include roboto(medium);
}

.slider__right-top{
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efebe0;

  @include laptop{
    height: auto;
    width: 100%;
    padding:45px 0;
    order: -10;
  }
}

.slider-screen{
  width: 600px;
  height: 400px;
}

.slider-screen__img{
  max-width: 100%;
  max-height:100%;
}

.slider__btns{
  height: 30%;
  width: 50%;
  display: flex;

  @include laptop{
    height: 200px;
    width: 100%;
  }
}

.slider__link{
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  background-color: transparent;
  padding: 0;
  &:hover{

  }
}

.slider__wrap-img{
  display: flex;
  height: 100%;
  width: 100%;

  @include desktop{
    height: 225px;
  }

  @include tablets{
    height: 215px;
  }
}

.slider__img{
  max-width: 100%;
  max-height: 100%;
  flex: auto;
}

.slider__svg{
  width: 28px;
  height: 20px;
  fill: #fff;
  z-index: 50;
  position: absolute;
}

// отзывы
.feedback{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  position: relative;
  overflow: hidden;
}

.feedback__top-title{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  text-align: center;

  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 110%;
    height: 100%;
    background: url('../img/bg-svg/about_header.svg') no-repeat center center;
    background-size: contain;
  }

  @include tablets{
    width: 100%;
  }

  @include phones{
    width: 250px;

  }
}

.feedback__background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  min-width: 900px;
}

.feedback__background-img{
  position: absolute;
  width: 100%;
  height: 100%;

}

.feedback__reviews{
  width: 50%;
  margin-bottom: 70px;

  @include desktop{
    width: 63%;
  }

  @include laptop{
    width: 90%;
  }

  @include tablets{
    width: 100%;
  }

}

.reviews-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reviews__item{
  display: inline-block;
  font-family:'fontawesome';
  padding:20px;
  width: 50%;
  &:before{
    content: "\f10d";
    font-size: 36px;
    color: $black;
    opacity: .2;
  }

  @media screen and (max-width: 560px){
    width: 100%;
    display: flex;
    flex-direction: column;
    &:first-child{
      padding-top: 0;
    }
    &:before{
      align-self: center;
    }
  }
}

.review__text{
  margin-top: 30px;

  @include phones{
    margin-top: 20px;
  }
}

.text-content_align{
  text-align: justify;
}

.review-user{
  display: flex;
  margin-top: 30px;
  align-items: center;

  @include phones{
    margin-top: 13px;
  }
}

.review-user__avatar{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.review-user__img{
  max-width: 100%;
  height: auto;
}

.review-user__text{
  color: #20b5a1;
}

.review-user__text_bold{
  font-weight:bold;
}

.feedback____blur-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.feedback-blur{
  background-image: url('../img/works/feedback.jpg');
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: -738px -698px;
  filter:blur(20px);
}

.feedback-form-wrap{
  z-index: 2;
}

.feedback-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-form__title{
  margin:35px 20px 0;

  @include phones{
    .subtitle{
      margin-top: 0;
    }
  }
}

.feedback-form__input{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.feedback-form__name,.feedback-form__email,.feedback-form__text{
  margin:0 20px 20px 20px;
  border-radius: 5px;
  padding:15px 20px;
}

.feedback-form__text{
  resize: none;
  height: 140px;
}

.feedback-form__buttons-wrap{
  display: flex;
  width: 100%;
}

.feedback-form__button{
  flex:auto;
  padding:15px 0;
  color: #fff;
  background-color: $green;
  border:none;
  border-radius:0 0 0 5px;
  cursor: pointer;
  transition: all .5s;
  &:hover{
    background-color: $dark-green;
  }
}

.feedback-form__button + .feedback-form__button{
  border-left: 2px solid rgba(#dee3e7,.5);
  border-radius:0 0 5px 0;
}

.feedback-up__link{
  display: block;
  &:hover{
    .feedback-up__svg{
      opacity: 1;
    }
  }
}

.feedback-up__svg{
  width: 28px;
  height: 20px;
  fill:#fff;
  opacity:.5;
  transition: opacity .5s;
}
